.calendar {
  font-size: 14px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  display: flex;
  flex-direction: column;
  min-width: 840px;
}

.calender-header {
  padding: 30px 25px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.calender-header ul {
  display: flex;
  align-items: center;
}

.calender-header ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.calender-header ul li.btn:hover {
  transform: scale(1.5);
}

.calender-header ul li.title {
  flex: 1 0 auto;
}

.calender-header ul li.title span {
  font-size: 18px;
}

.weekday-header {
  padding: 6px 0;
  background-color: #DEDEDE;
  display: flex;
  box-sizing: border-box;
  min-height: 29px;
}

.weekday-header li {
  color: #333;
  text-align: center;
  flex: 1 0 auto;
  width: 14.27%;
}

.days {
  background: #FEFEFE;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #CECECE;
}

.days li {
  color: #333;
  padding: 5px;
  border: 1px solid #CECECE;
  flex: 1 0 auto;
  box-sizing: border-box;
  width: 14.27%;
  min-height: 70px;
  max-height: 210px;
  overflow: auto;
}

.day-header {
  display: flex;
  justify-content: space-between;
}

.day-header span {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-header span.add {
  display: none;
}

.days li.selected .day-header span.add {
  display: flex;
  background-color: rgba(206, 206, 206, 0.9)
}

.days li.today .day-header span.date {
  font-weight: bold;
  background-color: rgba(83, 163, 133, 0.9)
}

.day-reminders {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: -0.5px;
}

.reminder {
  display: flex;
  margin-bottom: 2px;
}

.reminder-color {
  min-width: 6px;
}

.reminder-text {
  display: flex;
  flex-direction: column;
  padding: 2px 3px;
  box-sizing: border-box;
  flex: 1 1 auto;
  overflow: hidden;
  overflow-wrap: break-word;
}

.reminder-text>div {
  display: flex;
  justify-content: flex-end;
    align-items: center;
}

.reminder-text .reminder-time {
  flex: 1;
}

.reminder-text .reminder-btn {
  font: 14px Arial;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(206, 206, 206, 0.9);
  margin: 0 2px;
}

.days li.selected {
  border-color: #CECECE;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(206, 206, 206, 1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(206, 206, 206, 1);
  box-shadow: inset 0px 0px 10px 0px rgb(206, 206, 206);
}

.days li.disabled {
  color: #CECECE !important;
}