.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(90, 90, 90, 0.75);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  font-size: 14px;
  max-width: 400px;
  background-color: #FFF;
  padding: 24px 16px;
  box-sizing: border-box;
  flex: 1;
}

.dialog-header {
  font-size: 20px;
}

.dialog-form {
  width: 90%;
  display: inline-flex;
  margin: 25px 0;
  justify-content: space-around;
}

.dialog-form input {
  border-radius: 2px;
  border: 1px solid #CECECE;
}

.dialog-footer {
  display: flex;
  justify-content: center;
}

.dialog-btn {
    background-image: linear-gradient(to bottom,#363a4d 0,#1e212c 100%);
    border-radius: 2px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #1d1f2a;
    color: #fff;
    min-width: 80px;
    padding: 0 10px;
    margin: 0 10px;
    box-sizing: border-box;
}