html,
body,
ul,
ol,
p {
  margin:  0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue"
}

ul {
  list-style-type: none;
}

#root {
  height: 100%;
  overflow: auto;
  background: #53A385;
}
